<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<th:block th:include="fragments/head :: head" />
</head>
<body>
	<script type="text/javascript">
		console.log("Register");
	</script>
	<div class="container-fluid">
		<div class="row">
			<div class="box col-md-6 col-md-offset-3">

				<h1>Register</h1>
				<form id="registerForm">
					<p>
						<label for="firstName">First Name:</label> <input type="text"
							name="firstName" id="fname">
					</p>

					<p>
						<label for="lastName">Last Name:</label> <input type="text"
							name="lastName" id="lname">
					</p>

					<p>
						<label for="emailAddress">E-mail:</label> <input type="email"
							name="emailAddress" id="emailAddress">
					</p>

					<div>
					<label style="margin-right:15px">I am a:    </label>
						<label for="Member">Member</label> <input type="radio" name="role"
							value="Member" id="Member" checked="checked"> <label
							for="Staff">Staff</label> <input type="radio" name="role"
							value="Staff" id="Staff"> <label for="Club">Club</label>
						<input type="radio" name="role" value="Club" id="Club"> <label
							for="Cateringservice">Cateringservice</label> <input type="radio"
							name="role" value="Cateringservice" id="Cateringservice">
							
						<th:block th:include="fragments/member :: body"/>
						<th:block th:include="fragments/employee :: body"/>
						<th:block th:include="fragments/cateringservice :: body"/>
						<th:block th:include="fragments/club :: body"/>
					</div>

				</form>
				<button onclick="submitForm()">Submit</button>
			</div>
		</div>
	</div>

	<script type="text/javascript">
function submitForm(){
	const formData = $("#registerForm").serializeArray();
	let json = {};
	formData.forEach((val) => {
		//let el = $("input[name=" + val.name + "]");
		//if(!isNotUsed(el)){
			json[val.name] = val.value;
		//}
	})
	
	console.log(JSON.stringify(json));
	
	$.ajax({
		  type: "POST",
		  //url: "http://localhost:2228/authorization/register",
		  //url: "http://192.168.99.100:8080/authorization/register",
		  //url: "http://localhost:9000/authorization/register",
		  url: "#{urlValue}",
		  data: JSON.stringify(json),
		  success: function(res){console.log(res);},
		  dataType: "json",
		  contentType : "application/json"
		});
}

$("input[name=role]").click((el)=>{
	$("div.formfiller").addClass("hidden notused");
	$("#"+ el.target.value + "Filler").removeClass("hidden notused");
});

//function isNotUsed(el){
//	let parents = el.parents(".notused");
//	return parents.length > 0;
//}
</script>

</body>
</html>