<!DOCTYPE HTML>
<html>
<head>
    <title>Tickets shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
    	* {
    	  margin-left: auto;
          margin-right: auto;
          margin-top: 3px;
          margin-bottom: 3px;
          text-align: center;
    	}
    </style>
</head>
<body>
    <h2>Buy your ticket here!</h2>
    <p>
    	<label for="game">Game:</label>
    	<select id="game"></select><br>
    	<label for="ticket">Ticket:</label>
    	<select id="ticket"></select>
    </p>
    <button id="buy_button">Buy</button>
</body>
<script type="text/javascript">
	var dockerUrl="http://192.168.99.100:8080";
	var kubernetesUrl="http://localhost:9000";
	var URL = dockerUrl;
	String.prototype.initCap = function () {
	   return this.toLowerCase().replace(/(?:^|\s)[a-z]/g, function (m) {
	      return m.toUpperCase();
	   });
	};

	$.getJSON( URL + "/games/status/planned", function(data) {
		  var items = [];
		  console.log(data);
		  $.each(data, function(key, value) {
		    $("#game").append($("<option></option>")
                    .attr("value",value.id)
                    .text(value.teamA.initCap() + " vs. " + value.teamB.initCap()));
		  });
		  loadTickets();
	});
	
	$("#game").change(loadTickets);	  
	
	$("#buy_button").click(function() {
		var id = $("#ticket").val();
		$.post(URL+"/tickets/buy/" + id, function(data) {
		  alert("Ticket " + id + " succesfully purchased!");
		  loadTickets();
		});
	});
	
	function loadTickets() {
		$("#ticket").empty();
	  	var id = $("#game").val();
	  	$.getJSON(URL+"/tickets/available/" + id, function(data) {
		  	var items = [];
		  	console.log(data);
		  	$.each(data, function(key, value) {
			    console.log(value.id + " " + value.id);
			    $("#ticket").append($("<option></option>")
                	.attr("value",value.id)
                    .text("section:" + value.section + ",row:" + value.row + ",seat:" + value.seat));
		  	});
	  	});
	}
</script>
</html>